html, body {
width: 100%;
height: 100%;
overflow-x: hidden;
scroll-behavior: smooth;
margin: 0px;
padding: 0px;
user-select: none;
background-color: #101010;
}

body {
overflow-x: visible;
}

* {
padding: 0;
margin: 0;
/* font-family: 'Josefin Sans', sans-serif; */
font-family: "Inter", sans-serif;
box-sizing: border-box;
}

h1, h2, h3, h4 {
text-wrap: balance;
}

p {
text-wrap: pretty;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 8%;
padding-right: 8%;
width: 100%;
background-color: transparent;
backdrop-filter: blur(17px);
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 2;
text-align: center;
}

.intro {
padding-top: 12%;
padding-left: 8%;
}

.menu {
font-size: 24px;
font-weight: 800;
color: white;
display: none;
cursor: pointer;
}

.logo, .logo a {
color: white;
font-size: 2.5rem;
letter-spacing: 1px;
cursor: pointer;
text-decoration: none;
}

.logo, .logo a {
color: blue;
animation: colorFading 0.5s 1s linear 1 forwards;
animation-delay: 1.2s;
}
@keyframes colorFading {
    to {
        color: rgb(255, 255, 255);
    }
}

.logo span {
color: white;
animation: colorFader 0.5s 1s linear 1 forwards;
}
@keyframes colorFader {
    to {
        color: blue;
    }
}

span {
color: #2b2bf5;
}

nav ul li{
list-style-type: none;
display: inline-block;
padding: 10px 25px;
}

nav ul li a{
color: white;
text-decoration: none;
font-weight: bold;
}

nav ul li a:hover{
color: #2b2bf5;
transition: .4s;
}

.active{
color: #2b2bf5;
}

.btn {
background-color: #2b2bf5;
color: white;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 13px 34px;
border-radius: 30px;
transition: transform .4s;
font-size: 17px;
}

.btn:hover {
border: 2px solid #2b2bf5;
background-color: transparent;
}

.content {
height: 100svh;
width: 100%;
background-color: #101010;
overflow: hidden;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
padding-right: 5%;
padding-top: 60px;
}

.content .whatIdo {
max-width: 40ch;
line-height: 35px;
color: rgb(177, 177, 177);
}

.mail {
border: 2px solid #2b2bf5;
font-size: 16px;
}

.mail:hover {
background-color: #2b2bf5;
border: 2px solid transparent;
}

.mail i {
padding-left: 10px;
}

.mail a {
color: white;
text-decoration: none;
}

.connect {
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 10px;
}

.connect button {
padding: 13px 30px;
display: flex;
align-items: center;
justify-content: center;
}

.intropic {
padding-top: 80px;
}

h1 {
color: white;
margin: 15px 0px 20px;
font-size: 75px;
margin-bottom: 50px;
}

h3{
color: white;
font-size: 25px;
margin-bottom: 5px;
}

#white {
color: white;
}

h4 {
color: rgb(177, 177, 177);
letter-spacing: 2px;
font-size: 20px;
}

.newsletter {
max-width: 100%;
padding-left: 0;
}

#cursor {
border-right: 2px solid white;
animation: blink 0.6s step-end infinite alternate;
display: inline-block;
height: 30px;
margin-bottom: 20px;
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#title {
margin-bottom: 0;
}

.list span {
height: 19px;
width: 19px;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
position: relative;
right: 32px;
top: 21px;
outline: 6px solid #000000;
}

.slide {
height: 100%;
background-color: #858585;
width: 60%;
position: fixed;
top: 0;
left: 0;
bottom: 0;
overflow: hidden;
z-index: 2;
display: none;
left: -700px;
transition: 0.5s;
}

body.activeSlide .slide{
left: 0;
}

.btns {
width: 100%;
text-align: center;
cursor: pointer;
padding-inline: 0;
margin-inline: 0;
padding-top: 16px;
}

.slide-buttons {
padding-inline: 16px;
display: flex;
flex-wrap: wrap;
gap: 16px;
}

.accord {
text-align: center;
align-items: center;
justify-content: center;
width: 100%;
}

.close {
padding-bottom: 70px;
font-size: 21px;
font-weight: 800;
color: white;
position: absolute;
left: 40px;
top: 25px;
cursor: pointer;
}

.hold {
padding-top: 68px;
display: flex;
flex-direction: column;
gap: 20px;
padding-left: 24px;
padding-bottom: 16px;
}

.goto {
padding: 10px 20px;
color: white;
font-size: 20px;
font-weight: bold;
text-transform: capitalize;
text-decoration: none;
}

.goto:hover {
color: #2b2bf5;
transition: .4s;
text-decoration: 3px solid #2b2bf5 underline;
}

.about{
width: 100%;
padding: 100px 0;
background-color: #191919;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
gap: 1px;
padding-inline: 30px;
}

.about img{
height: 500px;
width: 500px;
max-width: 100%;
margin-inline: auto;
object-fit: cover;
text-align: center;
}

.about-text {
width: 550px;
max-width: 100%;
}

.about i {
font-size: 20px;
margin-left: 10px;
}

.about-text h2{
color: white;
font-size: 73px;
text-transform: capitalize;
margin-bottom: 20px;
animation: slide linear forwards;
animation-timeline: view();
animation-range: 250px 400px;
opacity: 0;
scale: 0.75;
}

@keyframes slide {
    to {
        opacity: 1;
        scale: 1;
    }
}

.about-text h5{
color: white;
letter-spacing: 2px;
font-size: 22px;
margin-bottom: 25px;
text-transform: capitalize;
}

.about-text p{
color: #b1b1b1;
letter-spacing: 1px;
line-height: 28px;
font-size: 18px;
margin-bottom: 45px;
/* scale: .8;
opacity: 0; */
animation: jump linear forwards;
animation-timeline: view();
animation-range: 250px 325px;
}
@keyframes jump{
    to {
        scale: 1;
        opacity: 1;
    }
}

button {
/* background-color: #2b2bf5; */
background-color: transparent;
color: white;
text-decoration: none;
border: 2px solid #2b2bf5;
font-weight: bold;
padding: 13px 30px;
border-radius: 30px;
transition: .4s;
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
}

.chat {
transform: translateY(50px);
filter: blur(20px);
opacity: 0;
animation: revealText linear forwards;
animation-timeline: view();
animation-range: 250px 300px;
/* animation-delay: 1.3s; */
}
@keyframes revealText {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.about button a{
color: white;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
}

.about button:hover {
background-color: #2b2bf5;
border: 2px solid transparent;
}

button:hover{
background-color: transparent;
border: 2px solid #2b2bf5;
cursor: pointer;
}

.service{
background: #101010;
width: 100%;
/* padding: 90px 0px 0px 0px; */
padding: 9px auto;
}

.title h2, .testimonial-section h2 {
color: white;
font-size: 75px;
width: 1130px;
max-width: 100%;
margin: 25px auto;
text-align: center;
}

.box{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
overflow: hidden;
width: 100%;
padding-inline: 35px;
padding-top: 10px;
row-gap: 15px;
padding-bottom: 10px;
}

.card {
height: 650px;
width: 550px;
padding: 20px 35px;
border-radius: 20px;
overflow: hidden;
margin-inline: auto;
}

.card video{
width: 100%;
height: 350px;
outline: none;
border: none;
}

.card h5 {
margin-bottom: 5px;
}

h5{
color: white;
font-size: 23px;
margin-bottom: 15px;
}

.pra p{
color: #b1b1b1;
font-size: 14px;
line-height: 27px;
margin-bottom: 25px;
text-align: left;
}

.skill {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 10px;
row-gap: 1px;
}

.skillset {
display: flex;
flex-direction: row;
flex-wrap: wrap;
text-align: center;
gap: 10px;
row-gap: 1px;
margin-inline: auto;
}

.skillset p {
color: #b1b1b1;
font-size: 16px;
line-height: 27px;
background-color: #2b2bf5;
border-radius: 15px;
padding: 3px 12px;
}


.skill p {
font-size: 12px;
background-color: #2b2bf5;
border-radius: 15px;
padding: 3px 12px;
}

.card .button{
background-color: #2b2bf5;
color: white;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 11px 24px;
border-radius: 30px;
transition: .4s;
}

.card .button:hover{
background-color: transparent;
border: 2px solid #2b2bf5;
cursor: pointer;
}

.contact-me{
width: 100%;
/* height: 320px; */
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
text-align: center;
padding: 100px 0px;
}

.contact-me h2 {
font-size: 73px;
color: white;
}

.skills {
color: white;
font-size: 18px;
font-weight: bold;
}

.skills span {
color: #2b2bf5;
}

.testimonial-section {
background-color: #191919;
padding-top: 40px;
}

.testimonial {
padding-top: 30px;
padding-bottom: 80px;
padding-inline: 100px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 50px;
background-color: #191919;
}

.client {
background-color: #101010;
backdrop-filter: blur(2px);
padding: 20px;
width: 500px;
border-radius: 20px;
color: white;
}

.id {
display: flex;
gap: 20px;
align-items: center;
margin-top: 20px;
margin-bottom: 24px;
}

h5 {
font-size: 20px;
}

h6 {
font-size: 15px;
}

.client img {
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
height: 75px;
width: 75px;
border-radius: 50%;
}

.client p {
font-style: italic;
font-size: 17px;
word-spacing: 3px;
line-height: 25px;
}

.star {
color: gold;
margin-top: 30px;
}

.copy {
padding-top: 50px;
}

.contact-me .button-two{
background-color: #2b2bf5;
color: white;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 9px 22px;
border-radius: 30px;
transition: .4s;
display: flex;
align-items: center;
justify-content: center;
}

.button-two {
font-size: 17px;
padding: 16px 32px;
}

.contact-me .button-two:hover{
background-color: transparent;
border: 2px solid #2b2bf5;
cursor: pointer;
padding-left: 120px;
padding-right: 120px;
}

.one {
margin-left: 20px;
}

footer{
position: relative;
width: 100%;
height: 400px;
background: #191919;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

footer p:nth-child(1){
font-size: 30px;
color: white;
margin-bottom: 20px;
font-weight: bold;
}

footer p:nth-child(2){
color: white;
font-size: 17px;
text-align: center;
line-height: 26px;
margin-inline: 10px;
}

.social {
display: flex;
}

.social a{
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
background: #2b2bf5;
border-radius: 50%;
margin: 22px 10px;
color: white;
text-decoration: none;
font-size: 20px;
}

.big {
font-size: 20px;
}

.social a:hover{
border: 2px solid #2b2bf5;
background-color: transparent;
}

.end {
position: absolute;
color: #2b2bf5;
bottom: 35px;
font-size: 14px;
}

.contact-body, .achievements {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-bottom: 50px;
padding-top: 50px;
padding-inline: 90px;
margin-top: 130px;
width: 100%;
}

.achievements {
flex-direction: column;
gap: 20px;
}

.achievements div {
background-color: #191919;
padding: 20px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-between;
font-size: 18px;
}

.achievements span {
color: #b1b1b1;
}

.achievements i {
font-size: 24px;
color: #2b2bf5;
}

.formwrap, .contactus {
/* flex-basis: 50%; */
width: 50%;
}

input {
padding: 15px 15px;
border-radius: 5px;
width: 100%;
border: none;
outline: none;
}

textarea {
height: 120px;
padding: 15px 15px;
width: 100%;
border: none;
border-radius: 5px;
outline: none;
}

.fight {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
flex-direction: row;
justify-content: space-between;
width: 100%;
gap: 20px;
}

.responsiveform {
display: flex;
flex-wrap: wrap;
gap: 20px;
}

form {
/* row-gap: 16px; */
max-width: 100%;
padding-top: 20px;
}

.contact-body h2{
color:#2b2bf5;
font-size: 56px;
text-transform: capitalize;
margin-bottom: 20px;
}

.contact-body p, .contactus p {
color: #b1b1b1;
font-size: 20px;
}

.contactus {
display: flex;
flex-direction: column;
gap: 16px;
text-align: right;
}

.contactus a {
font-size: 17px;
color: white;
margin-left: 10px;
}

.h2or {
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
color: #b1b1b1;
}

.achievements p {
color: white;
}




@media screen and (max-width: 475px){
body {
overflow-x: hidden;
}

nav {
padding-inline: 3%;
width: 100%;
max-width: 100%;
padding-top: 4%;
padding-bottom: 4%;
}

.logo, .logo a {
font-size: 1.6rem;
}

.btn {
font-size: 0.9rem;
}

.content {
height: 80svh;
}

h1 {
font-size: 20px;
line-height: 50px;
}

.intro {
padding-top: 20px;
}

.content h3 {
font-size: 22px;
}

.content .whatIdo {
line-height: 26px;
max-width: 100%;
}

.connect button {
margin-top: 16px;
}

.slide {
display: block;
width: 86%;
}

.testimonial-section {
padding-inline: 10px;
}

.testimonial-section h2 {
font-size: 19px;
}

footer, #footer {
padding-inline: 12px;
}
}

@media screen and (max-width: 640px){
.intro {
padding-top: 10%;
padding-left: 6%;
}

.intropic {
display: none;
}

.content {
height: 90svh;
}

.slide {
display: block;
}

.connect {
margin-top: 24px;
flex-direction: row;
}

h1 {
margin: 16px 0px 20px 0px;
font-size: 66px;
}

h3{
font-size: 26px;
}

.about{
flex-direction: column;
gap: 8px;
padding-top: 56px;
}

ul {
display: none;
}

nav {
padding-top: 20px;
padding-left: 5%;
padding-right: 5%;
}

.btn {
padding: 9px 18px;
}

.btn:hover{
border: 2px solid #2b2bf5;
background-color: transparent;
}

.intropic {
padding-top: 0px;
height: 400px;
max-width: 100%;
margin-inline: auto;
padding-inline: auto;
object-fit: cover;
background-size: cover;
object-position: center;
background-repeat: none;
padding-left: 3%;
}

.menu {
display: block;
}

#projects, #about{
font-size: 46px;
}

#name {
font-size: 50px;
}

.about, .testimonial {
padding-bottom: 70px;
padding-inline: 24px;
}

.service {
padding: 5px auto;
}

.about img{
width: 550px;
}

.about-text h2 {
font-size: 62px;
}

.title h2, .contact-me h2 {
font-size: 56px;
}

.testimonial-section h2 {
font-size:34px;
}

.box {
padding-inline: 10px;
row-gap: 5px;
padding-top: 5px;
}

.contact-body, .achievements, #skills {
padding-inline: 15px;
}

.about-text p {
font-weight: 14px;
}

.card {
width: 100%;
max-width: 100%;
padding-top: 0;
height: auto;
padding: 20px 20px;
}

.card video {
margin-bottom: 6px;
height: auto;
width: 100%;
object-position: left;
object-fit: cover;
}

.skillset {
text-align: center;
justify-content: center;
width: 100%;
row-gap: 10px;
}

.contactus {
display: none;
}

.formwrap, .contactus {
width: 100%;
}

.contact-body h2{
font-size: 44px;
}
}

@media screen and (max-width: 768px) {
ul {
display: none;
}

.menu {
display: block;
}

.intro {
padding-left: 50%;
}

.content {
gap: 1px;
height: 100svh;
padding-left: 0.4rem;
}

.slide {
display: block;
}

.content h1 {
font-size: 56px;
line-height: 56px;
}

.content h3 {
font-size : 20px;
}

.intropic {
padding-top: 0;
margin-inline: auto;
padding-inline: auto;
height: 40%;
width: 40%;
}

.about img {
height: 400px;
width: 400px;
}

.about {
justify-content: space-between;
gap: 50px;
padding-inline: 24px;
}

.about-text {
width: 100%;
}

.about-text h2{
margin-bottom: 16px;
font-size: 56px;
}

.testimonial-section h2 {
font-size: 48px;
padding-inline: 12px;
}

.testimonial-section {
padding-inline: 24px;
}

.skillset {
row-gap: 20px;
text-align: center;
justify-content: center;
}

#skills {
padding-inline: 24px;
text-align: center;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
nav {
padding-left: 2rem;
padding-right: 2rem;
}

nav ul li{
padding: 10px 21px;
}

h1, .testimonial-section h2 {
margin: 16px 0px 30px 0px;
font-size: 64px;
}

.intro {
padding-left: 2rem;
}

.intropic {
height: 510px;
display: block;
}

.content {
flex-direction: row;
flex-wrap: nowrap;
height: 100svh;
}

.about img {
height: 416px;
width: 416px;
}

.about {
justify-content: space-between;
gap: 74px;
}

.about-text h2{
font-size: 64px;
}

.service {
padding-inline: 0.1rem;
}

.card {
height: auto;
}

.box {
padding-inline: 0;
padding-top: 1px;
padding-bottom: 2px;
}

.card video {
margin-bottom: 6px;
height: auto;
width: 100%;
}

.testimonial-section {
padding-inline: 5px;
}
}


/* @media screen and (max-width: 1536px){

} */
